body {
    background-image: url("https://w0.peakpx.com/wallpaper/338/1021/HD-wallpaper-white-crumpled-paper-texture-white-paper-background-paper-texture-paper.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}


ul {
    list-style-type: none;
    display:table;
    margin: 0;
    width: 15%;
    background-color: transparent;
    height: 20%;  
    overflow: auto;
    text-decoration-color: darkslateblue;
    padding-left:5%;
    padding-top:5%;
}

li {
    text-align: left;
    border-right: 3px solid #000;
    border-bottom: 3px solid= #000;
    font-size: 20pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(61, 57, 57)
}

h2 {
    font-size: 40pt;
    font-weight: bold;
}
h3 {
    font-size: 20pt;
    font-weight: normal;
}   
h4 {
    font-size: 30pt;
    text-align: center;
}
.a {
    background-color: transparent;
    border-right: black thick double;
    margin-left: 10%;
    padding-right:50px;
    float: left;
    text-align:center;
    width: 20%;

}

.s {
    background-color: transparent;
    margin-top: 10px;
    padding-top: 10px;
    float: center;
    text-align:center;
    height: 30px;
}

.m {
    background-color: transparent;
    border-left: black thick double;
    margin-right: 10%;
    padding-left: 50px;;
    float: right;
    text-align:center;
    width: 20%;
}

.quote {
    font-family: cursive;
    font-size: 50pt;
    text-align: center;
    width: 90%;
    margin-top: 275px;

}