body {
    background-image: url("https://w0.peakpx.com/wallpaper/338/1021/HD-wallpaper-white-crumpled-paper-texture-white-paper-background-paper-texture-paper.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}

ul {
    list-style-type: none;
    display:table;
    margin: 0;
    padding: 10;
    width: 10%;
    background-color: #f1f1f1;
    height: 20%; 
    position: fixed; 
    overflow: auto;
    text-decoration-color: darkslateblue;
    padding-right: 0%;
    padding-left:0%;
    padding-bottom:0%;
}

li {
    text-align: left;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(61, 57, 57)
}

h1 {
    font-size: 40pt;
}
h2 {
    font-size: 20pt;
}   
.a {
    background-color: transparent;
    border-right: black thick double;
    margin-top: 20%;
    margin-left: 15%;
    padding-right:20px;
    float: left;
    text-align:center;
}

.s {
    background-color: transparent;
    margin-top: 10%;
    margin-left: 10%;
    float: center;
    text-align:center;
    height: 25%;  
}
.m {
    background-color: transparent;
    border-left: black thick double;
    margin-left: 20%;
    padding: 20px;;
    float: right;
    text-align:center;
}